.container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: bolder;
  transition: all 0.3s ease;
}

.footer-link:hover {
  text-decoration: underline;
}
